@model List<Meetup.Dto.Models.EventoDto>

@{
    ViewData["Title"] = "Home Page";
}
@section styles{
    <link href="~/css/carousel.css"
          rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Santander Meetups</h1>
    <p>El mejor espacio para hablar sobre lo que nos interesa</a>.</p>
</div>

<div class="text-center">
    <h2>
        Encuentra los proximos Eventos
    </h2>
</div>

@if (Model.Count == 0)
{
    <div class="container-fluid">

        <div class="text-center ">
            <h5 class="text-muted">
                No hay eventos proximos
            </h5>
        </div>
    </div>


}
else
{

    <div class="container-fluid">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                @foreach (var item in Model)
                {
                    <div class="carousel-item col-md-4 active">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">@item.Nombre</h4>
                                <p class="card-text">
                                    @item.Descripcion
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Fecha: @item.Fecha <br />
                                        Espacio: @item.Sucursal
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>

                }


            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                        <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    
}





@section Scripts{

    <script>
        (function ($) {
            "use strict";
            // Auto-scroll
            $('#myCarousel').carousel({
                interval: 5000
            });

            // Control buttons
            $('.next').click(function () {
                $('.carousel').carousel('next');
                return false;
            });
            $('.prev').click(function () {
                $('.carousel').carousel('prev');
                return false;
            });

            // On carousel scroll
            $("#myCarousel").on("slide.bs.carousel", function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 3;
                var totalItems = $(".carousel-item").length;
                if (idx >= totalItems - (itemsPerSlide - 1)) {
                    var it = itemsPerSlide -
                        (totalItems - idx);
                    for (var i = 0; i < it; i++) {
                        // append slides to end
                        if (e.direction == "left") {
                            $(
                                ".carousel-item").eq(i).appendTo(".carousel-inner");
                        } else {
                            $(".carousel-item").eq(0).appendTo(".carousel-inner");
                        }
                    }
                }
            });
        })
            (jQuery);


    </script>
}
